<div class="container mt-5" >
    <div *ngIf="errorMessage">
        <h1>{{errorMessage}}</h1>
    </div>
    <ng-container *ngIf="!errorMessage">
    <h2 class="mb-5 text-center">Edit User</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="form-group">
                    <label for="name">Name </label>
                    <input id="name" type="text" class="form-control" formControlName="name">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="form-group">
                    <label for="username">User Name </label>
                    <input id="username" type="text" class="form-control" formControlName="username">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="form-group">
                    <label for="email">Email </label>
                    <input id="email" type="text" formControlName="email" class="form-control">
                </div>
            </div>
        </div>
        <div class="row" formGroupName="address">
            <h6 class="mt-3 mb-3">Address</h6>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="form-group">
                    <label for="street">Street </label>
                    <input id="street" type="text" formControlName="street" class="form-control">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="form-group">
                    <label for="suite">Suite </label>
                    <input id="suite" type="text" formControlName="suite" class="form-control">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="form-group">
                    <label for="city">City </label>
                    <input id="city" type="text" formControlName="city" class="form-control">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="form-group">
                    <label for="zipcode">Zip Code </label>
                    <input id="zipcode" type="text" formControlName="zipcode" class="form-control">
                </div>
            </div>
            <div class="col-md-12" formGroupName="geo">
                <h6>Geo</h6>
                <div class="col-lg-4 col-md-4 mb-3">
                    <div class="form-group">
                        <label for="lat">Lat </label>
                        <input id="lat" type="text" formControlName="lat" class="form-control">
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 mb-3">
                    <div class="form-group">
                        <label for="lng">Lng </label>
                        <input id="lng" type="text" formControlName="lng" class="form-control">
                    </div>
                </div>
            </div>

        </div>
        <div class="row" formGroupName="company">
            <h6 class="mt-3 mb-3">Company</h6>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="form-group">
                    <label for="name">Name </label>
                    <input id="name" type="text" formControlName="name" class="form-control">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="form-group">
                    <label for="catchPhrase">CatchPhrase </label>
                    <input id="catchPhrase" type="text" formControlName="catchPhrase" class="form-control">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="form-group">
                    <label for="bs">Bs </label>
                    <input id="bs" type="text" formControlName="bs" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="form-group">
                    <label for="website">Website </label>
                    <input id="website" type="text" formControlName="website" class="form-control">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="form-group">
                    <label for="phone">Phone </label>
                    <input id="phone" type="text" formControlName="phone" class="form-control">
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary me-3" [disabled]="!userForm.valid">
                Save
            </button>
            <a routerLink="/users" class="btn btn-primary">Cancel</a>
        </div>
    </form>
</ng-container>
</div>